//
//
// Hi there! Remember you are not suposed to be here.
// All customization must be done in _custom_ files!!
//
//

img {
  width: 100%;
  max-width: 100%;
}

.img {
  position: relative;

  img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }

  &--1-1 {
    padding-bottom: 100%;
  }

  //Landscape
  &--4-3 {
    padding-bottom: (3 / 4) * 100%;
  }

  &--3-2 {
    padding-bottom: (2 / 3) * 100%;
  }

  &--16-9 {
    padding-bottom: (9 / 16) * 100%;
  }

  &--21-9 {
    padding-bottom: (9 / 21) * 100%;
  }

  //Portrait

  &--3-4 {
    padding-bottom: (4 / 3) * 100%;
  }

  &--2-3 {
    padding-bottom: (3 / 2) * 100%;
  }
}
