<head>
  <meta charset="utf-8" />
  <title>baseCore</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <!-- realfavicongenerator.net -->
  <link rel="apple-touch-icon" sizes="180x180"
  ../img/favicons/apple-touch-icon.png"> <link rel="icon" type="image/png"
  sizes="32x32" ../img/favicons/favicon-32x32.png"> <link rel="icon"
  type="image/png" sizes="16x16" ../img/favicons/favicon-16x16.png"> <link
  rel="manifest" ../img/favicons/site.webmanifest"> <link rel="mask-icon"
  ../img/favicons/safari-pinned-tab.svg" color="#d0527b">
  <meta name="msapplication-TileColor" content="#d0527b" />
  <meta name="theme-color" content="#d0527b" />
  <link rel="stylesheet" type="text/css" href="../scss/styles.scss" />
</head>
