//
//
// Hi there! Remember you are not suposed to be here.
// All customization must be done in _custom_ files!!
//
//
//https://www.smashingmagazine.com/2013/03/tips-and-tricks-for-print-style-sheets/
@media print {
  @page {
    margin: 2cm;
  }

  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  body {
    color: #000;
    background: #fff;
  }

  footer {
    display: none;
  }

  img {
    max-width: 100% !important;
  }

  * {
    page-break-inside: avoid;
  }

  a[href^="http"]:after {
    content: " <" attr(href) "> ";
  }

  a[href^="#"]:after {
    content: "";
  }
}

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
