//
//
// Hi there! Remember you are not suposed to be here.
// All customization must be done in _custom_ files!!
//
//
.nav--tabs {
  overflow: auto;
  scroll-behavior: smooth;
  > ul {
    display: flex;
  }
  > ul li {
    float: left;
    margin-bottom: -1px;
    margin-right: -1px;

    @media (max-width: $screen-xs-max) {
      margin-right: 0px;
    }

    > [role="tab"] {
      text-decoration: none;
      display: inline-block;
      margin: 0;
      font-size: inherit;
      @media (max-width: $screen-xs-max) {
        display: block;
        width: 100%;
      }
    }

    &.is-active {
      > [role="tab"] {
        &:hover {
        }
      }
    }
  }
}

.tab-content {
  > .tab-content__panel {
    display: none;
    visibility: hidden;
  }
  > .is-active {
    display: block;
    visibility: visible;
  }
}
