@import "~getbasecore/src/components/atoms/Icon/core_icon.scss";
//  --------------------------------------------------
//  Colors
// --------------------------------------------------
svg.icon {
  vertical-align: middle;
}
