@import "~getbasecore/src/components/_atoms/_btn/_core_btn.scss";
@import "~getbasecore/src/components/_atoms/_btn-simple/_core_btn-simple.scss";
$btn-simple-padding: 12px 16px;
$btn-simple-text-size: 14px;
$btn-simple-mt: 10px;
$btn-simple-border-radius: 10px;

$btn-simple-transition-in: 0.2s;
$btn-simple-transition-out: 0.2s;

$btn-simple-padding-xs: 4px 5px;
$btn-simple-text-size-xs: 10px;
$btn-simple-padding-sm: 6px 10px;
$btn-simple-text-size-sm: 12px;
$btn-simple-padding-lg: 10px 18px;
$btn-simple-text-size-lg: 18px;

//@include generate-btn-simple($name, $color, $bg, $color-hover, $bg-hover, $bg-active, $color-disabled, $bg-disabled);

@include generate-btn-simple(
  1,
  white,
  var(--color-bg-primary),
  white,
  var(--color-bg-secondary),
  var(--color-bg-secondary),
  white,
  var(--color-disabled)
);
@include generate-btn-simple(
  2,
  white,
  var(--color-bg-secondary),
  white,
  var(--color-bg-primary),
  var(--color-bg-primary),
  white,
  var(--color-disabled)
);
@include generate-btn-simple(
  success,
  white,
  var(--color-success),
  white,
  var(--color-success),
  var(--color-success),
  white,
  var(--color-disabled)
);

.btn-simple {
  display: inline-flex;
  align-items: center;
  font-size: $btn-simple-text-size;
  padding: $btn-simple-padding;
  border-radius: $btn-simple-border-radius;
  transition: $btn-simple-transition-out;
  line-height: $btn-simple-text-size;

  //Remember, the button has the same height as the form input to be hable to use the button in horizontal forms. Adjust the height in _vars component
  .form & {
    height: $input-height;
  }

  @media (max-width: $screen-xs-max) {
    height: auto;
  }

  &:hover {
    transition: $btn-simple-transition-in;
  }
  &:focus {
    transition: $btn-simple-transition-in;
  }

  //Separaci칩n entre botones juntos en XS
  &--block + .btn--block {
    @media (min-width: $screen-xs) and (max-width: $screen-sm-max) {
      margin-top: $btn-simple-mt;
    }
  }

  //Variantes de tama침os

  &--xs {
    font-size: $btn-simple-text-size-xs;
    padding: $btn-simple-padding-xs;
    height: $input-height-xs;
  }

  &--sm {
    font-size: $btn-simple-text-size-sm;
    padding: $btn-simple-padding-sm;
    height: $input-height-sm;
  }

  &--lg {
    font-size: $btn-simple-text-size-lg;
    padding: $btn-simple-padding-lg;
    height: $input-height-lg;
  }
}

//Ajustes cuando el bot칩n es un elemento diferente a button
a.btn-simple,
label.btn-simple {
  line-height: 1;
  &--xs {
    line-height: 1;
  }

  &--sm {
    line-height: 1;
  }

  &--lg {
    line-height: 1;
  }
}

.btn-group {
  @include clearfix;
  margin-bottom: $margin3;
  [class*="btn"] {
    &:first-of-type {
      border-top-left-radius: $btn-simple-border-radius;
      border-bottom-left-radius: $btn-simple-border-radius;
    }
    &:last-child {
      border-top-right-radius: $btn-simple-border-radius;
      border-bottom-right-radius: $btn-simple-border-radius;
    }
  }
}

//Separaci칩n entre botones juntos
.btn--block + .btn--block {
  margin-top: $btn-simple-mt;
}

.btn--block {
  padding-left: 0;
  padding-right: 0;
}
