$progress-height: 20px;
$progress-mb: var(--margin3);
$progress-bg: var(--color-border-1);
$progress-color: white;
$progress-font-size: 12px;
$progress-transition: width 0.6s ease;
@mixin generate-progress(
  $name,
  $progress-color,
  $progress-bg,
  $progress-value-bg
) {
  .progress--#{$name} {
    &::-webkit-progress-bar {
      background-color: $progress-bg;
    }

    &::-webkit-progress-value {
      background-color: $progress-value-bg;
    }

    &::-moz-progress-bar {
      background-color: $progress-value-bg;
    }

    //legacy
    background-color: $progress-bg;

    span {
      background-color: $progress-value-bg;
      color: $progress-color;
    }
  }
}
// @mixin generate-progress($name, $progress-color, $progress-bg, $progress-value-bg)
@include generate-progress(success, white, $progress-bg, var(--color-success));
