@import "~basecore/src/components/_atoms/_link/_core_link.scss";
@import "~basecore/src/components/_atoms/_link-simple/_core_link-simple.scss";
$link-simple-transition: 0.5s;

// @mixin generate-link-simple($name, $color, $color-hover, $color-disabled, $font-weight){

@include generate-link-simple(
  1,
  var(--color-text-1),
  var(--color-bg-secondary),
  var(--color-disabled),
  700
);

.link-simple {
  transition: $link-simple-transition;
  text-decoration: none;
  padding-bottom: 3px;

  &:after {
    transition: $link-simple-transition;
    width: 1%;
    height: 2px;
    background: currentcolor;
  }

  &:active,
  &.active,
  &:hover {
    &:after {
      width: 100%;
      height: 2px;
    }
  }
}
