@import "~getbasecore/src/components/_atoms/_progress-bar/_core_progress-bar.scss";
$progress-height: 20px;
$progress-mb: $margin3;
$progress-bg: var(--color-border-1);
$progress-color: white;
$progress-font-size: 12px;
$progress-transition: width 0.6s ease;

// @mixin generate-progress($name, $progress-color, $progress-bg, $progress-value-bg)
@include generate-progress(success, white, $progress-bg, var(--color-success));

.progress {
  height: $progress-height;
  margin-bottom: $progress-mb;
  transition: $progress-transition;

  //legacy progress value
  span {
    font-size: $progress-font-size;
    line-height: $progress-height;
  }
}
