@import "~basecore/src/components/_atoms/_loader-circle/_core_loader-circle.scss";
$loader-circle-diameter: 10rem;
$loader-circle-border: 1.1rem;
$loader-circle-color: var(--color-danger);
$loader-circle-mb: $margin3;

//Loading circular
.loader-circle {
  margin-bottom: $loader-circle-mb;
  font-size: 10px;
  border-top: $loader-circle-border solid rgba(255, 255, 255, 0.2);
  border-right: $loader-circle-border solid rgba(255, 255, 255, 0.2);
  border-bottom: $loader-circle-border solid rgba(255, 255, 255, 0.2);
  border-left: $loader-circle-border solid $loader-circle-color;
}
.loader-circle,
.loader-circle:after {
  width: $loader-circle-diameter;
  height: $loader-circle-diameter;
}
