.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: $zindex3;
  background: white;
  padding: 30px 20px;
  box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--color-border-1);
  margin-bottom: var(--margin3);
}
