@import "~getbasecore/src/components/_molecules/_table/_core_table.scss";
$table-padding: 10px;
$table-mb: $margin-elements;
$table-border: 1px solid var(--color-border-1);

$table-thead-bg-color: var(--color-bg-primary);
$table-thead-color: white;

$table-td-bg-color: white;
$table-td-color: var(--color-text-1);

$table-td-bg-color-even: white;
$table-td-color-even: var(--color-border-1);

.table {
  margin-bottom: $table-mb;
  border: $table-border;

  td,
  th {
    padding: $table-padding;
  }

  thead {
    background: $table-thead-bg-color;
    color: $table-thead-color;
    text-align: left;
  }

  tbody {
    background: $table-td-bg-color;
    color: $table-td-color;
    tr:nth-child(even) {
      background: $table-td-color-even;
    }
  }
}

//Tablas con reflow
.table-reflow {
  table {
    min-width: 280px;

    td {
      &:before {
        font-weight: bold;
        width: 6.5em; // magic number :( adjust according to your own content
        @media (min-width: $screen-sm-max) {
          display: none;
        }
      }
    }
  }
}
