@import "~getbasecore/src/components/atoms/Link/core_link.scss";
@import "~getbasecore/src/components/atoms/LinkSimple/core_link-simple.scss";

.link-simple {
  --link-simple-transition: 0.5s;
}

// @mixin generate-link-simple($name, $color, $color-hover, $color-disabled, $font-weight){

@include generate-link-simple(
  1,
  var(--blue1),
  var(--blue2),
  var(--color-disabled),
  700
);

.link-simple {
  transition: var(--link-simple-transition);
  text-decoration: none;
  padding-bottom: 3px;

  &:after {
    transition: var(--link-simple-transition);
    width: 1%;
    height: 2px;
    background: currentcolor;
    display: none !important;
  }

  &:active,
  &.active,
  &:hover {
    &:after {
      width: 100%;
      height: 2px;
    }
  }
}
