<div
  class="modal"
  id="{{id}}"
  tabindex="-1"
  role="dialog"
  aria-modal="true"
  aria-labelledby="{{aria_labelledby}}"
  aria-hidden="true"
>
  <div class="modal__dialog" role="document">
    <div id="modal-description" class="modal__description">
      Modal description
    </div>
    <div class="modal__content">
      <button
        type="button"
        class="modal__close"
        aria-label="{{aria_label_close}}"
        data-dismiss="modal"
      >
        <svg class="icon" role="presentation">
          <use xlink:href="../svg/sprite.svg#close"></use>
        </svg>
      </button>

      <div class="modal__body">
        <content></content>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
