//
//
// Hi there! Remember you are not suposed to be here.
// All customization must be done in _custom_ files!!
//
//
// --------------------------------------------------
//  Checkbox
// --------------------------------------------------

.checkbox-simple {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  input {
    @include show-sr();
  }

  // Unchecked
  label {
    position: relative;
    cursor: pointer;
    &:before {
      position: absolute;
      content: "";
      display: inline-block;
      box-sizing: border-box;
    }
    &:after {
      position: absolute;
      content: "";
      display: inline-block;
      border-radius: 100%;
      opacity: 0;
      box-sizing: border-box;
    }
  }

  //Checked
  input:checked + label {
    &:before {
    }
    &:after {
      opacity: 1;
    }
  }
}

// --------------------------------------------------
//  Mixin tamaños de checkboxes
// --------------------------------------------------

@mixin checkbox-simple-sizes($size, $checkbox-simple-size) {
  .checkbox-simple--#{$size} {
    // Unchecked
    label {
      padding-left: $checkbox-simple-size + $checkbox-simple-size/2;
      line-height: $checkbox-simple-size;
      //Borde exterior
      &:before {
        width: $checkbox-simple-size;
        height: $checkbox-simple-size;
      }
      //Elemento interior
      &:after {
        left: $checkbox-simple-size/2;
        top: $checkbox-simple-size/2;
      }
    }

    //Checked
    input:checked + label {
      //Elemento interior
      &:after {
        width: $checkbox-simple-size;
        height: $checkbox-simple-size;
      }
    }
  }
}

