//
//
// Hi there! Remember you are not suposed to be here.
// All customization must be done in _custom_ files!!
//
//
//  ----------------------------------------------------------------------------------------------------
//
//   Mixins
//
// -----------------------------------------------------------------------------------------------------

/*
Text truncate
*/
@mixin text-truncate() {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*

Screen reader only

*/

@mixin show-sr() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*
Img no responsive 
*/
@mixin img-no-responsive() {
  width: auto;
  max-width: auto;
}

/*
Safari Flicker Fix
*/

@mixin webkit-anim-fix() {
  -webkit-transform: translate3d(0, 0, 0);
}

/*
Clean last margin
*/

@mixin clean-last-margin() {
  *:last-child {
    margin-bottom: 0 !important;
  }
}
