@import "~getbasecore/src/components/_molecules/_form/_core_form.scss";
$form-fieldset-mb: $margin-elements;
$form-group-mb: $margin-elements;
$form-hr-mb: $margin-elements;

.form {
  fieldset {
    margin-bottom: $form-fieldset-mb;
  }

  legend {
    // @extend .h3;
  }

  hr {
    margin-top: 0;
    margin-bottom: $form-hr-mb;
  }

  &__group {
    margin-bottom: $form-group-mb;
  }

  &__error {
    opacity: 0;
    max-height: 0;
    flex-basis: 100%;
    transition: 0.5s;
  }

  //Error messages
  &__group--success,
  &__group--info,
  &__group--warning,
  &__group--danger {
    .form__error {
      opacity: 1;
      max-height: 100%;
      transition: 0.5s;
      margin-top: 10px;
    }
  }

  //Formulario inline
  &--inline {
    label {
      //display: inline-block;
      margin-bottom: var(--margin1);
    }

    // .form__group{
    //
    //   //Les damos estilo en XS
    //   @media (max-width: $screen-xs) {
    //
    //     //margen para separarlos en XS
    //     .form__group{
    //       margin-bottom: var(--margin2);
    //     }
    //   }
    //
    //   label{
    //     @media (max-width: $screen-xs) {
    //       margin-bottom: var(--margin1);
    //     }
    //   }
    //
    // }
  }

  // --------------------------------------------------
  //  Tamaños
  // --------------------------------------------------

  &--xs {
    input,
    select {
      font-size: 10px;
    }
  }

  &--sm {
    input,
    select {
    }
  }

  &--lg {
    input,
    select {
      font-size: 24px;
    }
  }
}
