<nav role="navigation" class="pagination" aria-label="Page navigation">
  <ul>
    <li>
      <a href="./" aria-label="Previous">
        <svg class="icon" role="presentation" aria-hidden="true">
          <use
            xlink:href="../svg/sprite.svg#arrow-left"
          ></use>
        </svg>
      </a>
    </li>
    <content></content>
    <li>
      <a href="./" aria-label="Next">
        <svg class="icon" role="presentation" aria-hidden="true">
          <use
            xlink:href="../svg/sprite.svg#arrow-right"
          ></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>
