//
//
// Hi there! Remember you are not suposed to be here.
// All customization must be done in _custom_ files!!
//
//

/*
Z-index Scale
*/
:root {
  --zindex0: 0;
  --zindex1: 100;
  --zindex2: 200;
  --zindex3: 300;
  --zindex4: 400;
  --zindex5: 500;
  --zindex6: 600;
  --zindex7: 700;
  --zindex8: 800;
  --zindex9: 900;
}
