@import "~getbasecore/src/utils/vars/core_vars.scss";
/*
Media Queries
*/

//Mobile First (min)
$screen-xs: 320px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;

//Desktop First (max)
$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-md-max: 1199px;
$screen-lg-max: 1439px;

:root {
  // --------------------------------------------------
  //  Grid
  // --------------------------------------------------

  --grid-gutter: 32px;
  --grid-gutter-outside: 16px;
  --columns: 12;
  --columns-xs: 4;
  --container-sm: 720px;
  --container-md: 944px;
  --container-lg: 1136px;
  --container-xl: 1248px;

  --container-grid-mixed-width: 1600px;

  /*
Margin Scale
*/
  --margin1: 0.8rem;
  --margin2: 1.6rem;
  --margin3: 2.4rem;
  --margin4: 3.2rem;
  --margin5: 4rem;
  --margin6: 4.8rem;

  --margin-elements: 32px;
  --margin-components: 18rem;

  @media (max-width: $screen-xs-max) {
    :root {
      --margin-components: 8rem;
    }
  }

  // --------------------------------------------------
  //  Tamaños de iconos
  // --------------------------------------------------
  --icon-xl: 128px;
  --icon-lg: 56px;
  --icon-md: 48px;
  --icon-sm: 32px;
  --icon-xs: 24px;

  // --------------------------------------------------
  //  Inputs & Buttons fixed height inside forms
  // --------------------------------------------------
  --input-height-xs: 56px;
  --input-height-sm: 56px;
  --input-height: 56px;
  --input-height-lg: 56px;
}
// --------------------------------------------------
// Colors - Global Palette
// --------------------------------------------------

//  Form validation

:root {
  --color-success: #99cc33;
  --color-info: #6ea0c6;
  --color-warning: #fb7d0c;
  --color-danger: #ec3457;
  --color-disabled: #afafaf;

  --color-text-1: #262626;
  --color-text-2: #444;

  --white: #ffffff;
  --anthracite: #262626;
  --black: #000000;
  --grey1: #e6e6e6;
  --grey2: #666666;
  --grey3: #bbbbbb;
  --blue1: #1c69d4;
  --blue2: #0653b6;
  --brown-grey: #979797;

  --color-bg-primary: #1c69d4;
}
:root {
  --color-text-1: #000;
  --color-text-2: #404040;
  --color-text-3: #bbbbbb;
  --color-text-4: #666666;

  // Colores BG
  --color-bg-1: #fff;
  --color-bg-2: #bfbfbf;
  --color-bg-3: #7f7f7f;
  --color-bg-4: #0076d9;
  --color-bg-5: #1c69d4;
  --color-bg-6: #0653b6;
  --color-bg-7: #e6e6e6;
  --color-border-1: #e3e3e3;

  --color-black: #262626;
  --color-brown-grey: #8e8e8e;
  --color-blue-blue: #1c69d4;
  --color-greyish-brown: #4d4d4d;
  --color-very-light-pink: #d8d8d8;

  -color-placeholder-1: #e3e3e3;

  --color-accordion--hover: #f5f5f5;
  --color-brand: rgb(0, 118, 217);
}
// --------------------------------------------------
// Template variables para componentes
// --------------------------------------------------

//Variables para CSS habitual
// $component-padding:
// $component-mb:
// $component-bg-color:
// $component-color-text:
// $component-border:
// $component-border-radius:

// $component-subcomponent-color:
// $component-subcomponent-bg-color:
// $component-subcomponent-padding:
// $component-subcomponent-content:

// $component-subcomponent-color-hover:
// $component-subcomponent-bg-color-hover:

// Variables opcionales como border, shadowbox han de tener un if porque no siempre se usará
