//
//
// Hi there! Remember you are not suposed to be here.
// All customization must be done in _custom_ files!!
//
//

body {
  position: relative;
}

.wrapper {
  left: 0;
  top: 0;
  transition: 1s;
  position: relative;
}

.off-canvas {
  position: fixed;
  min-height: 100vh;
  height: 100%;
  transition: left right top bottom height 1s;
  transition-duration: width 0s;
  overflow: hidden;
  z-index: $zindex2;
  opacity: 0;
  @media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
    width: 100% !important;
  }
}

.off-canvas-overlay {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: $zindex1;
  opacity: 1;
  left: 0;
  top: 0;
  transition: opacity 1s;
  &.is-hidden {
    display: block;
    opacity: 0;
    pointer-events: none;
    //height: 0;
  }

  &.is-visible {
    display: block;
    opacity: 1;
    pointer-events: none;
    //height: 100%;
  }
}

html.off-canvas-on--left body,
html.off-canvas-on--right body {
  overflow: hidden;
}

/*   	Left */
.off-canvas.off-canvas--left {
  opacity: 1;
  pointer-events: all;
  transition: 1s;
}

html.off-canvas-on.off-canvas-on--left .off-canvas.off-canvas--left {
  left: 0;
  transition: left 1s;
}

html.off-canvas-on.off-canvas-on--left .wrapper {
  position: relative;
  top: 0;
  transition: 1s;
}

/*   	Push version */
html.off-canvas-on.off-canvas-on--push.off-canvas-on--left .wrapper {
  left: 320px;
}

/*   	Right  */
.off-canvas.off-canvas--right {
  right: -100vw;
  left: auto;
  opacity: 1;
  transition: 1s;
}

html.off-canvas-on.off-canvas-on--right .off-canvas.off-canvas--right {
  right: 0;
  transition: right 1s;
  opacity: 1;
}

html.off-canvas-on.off-canvas-on--right .wrapper {
  position: relative;
  top: 0;
  transition: 1s;
}
/*   	Push version */
html.off-canvas-on.off-canvas-on--push.off-canvas-on--right .wrapper {
  left: -100vw;
}

/*   	Top  */
.off-canvas.off-canvas--top {
  max-height: 0px;
  min-height: 0px;
  overflow: hidden;
  width: 100%;
  left: auto;
  opacity: 0;
  transition: 0.5s;
}

html.off-canvas-on.off-canvas-on--top .off-canvas.off-canvas--top {
  max-height: 100vh;
  overflow: auto;
  opacity: 1;
}

html.off-canvas-on.off-canvas-on--top .wrapper {
  position: relative;
  top: 0;
}
/*   	Push version */
html.off-canvas-on.off-canvas-on--push.off-canvas-on--top .off-canvas--top {
  position: relative;
  max-height: 100vh;
  overflow: auto;
}

/*   	Bottom  */
.off-canvas.off-canvas--bottom {
  bottom: -100vh;
  width: 100%;
  min-height: auto;
  height: auto;
  transition: 1s;
  left: auto;
  position: fixed;
}

html.off-canvas-on.off-canvas-on--bottom .off-canvas.off-canvas--bottom {
  bottom: 0;
  transition: 1s;
  opacity: 1;
}

html.off-canvas-on.off-canvas-on--bottom .wrapper {
  position: relative;
  top: 0;
  transition: 1s;
}
