@import "~basecore/src/components/_utils-js/_off-canvas/_core_off-canvas.scss";
$off-canvas-overlay-time: 1s;
$off-canvas-left-width: 320px;
$off-canvas-left-time: 0.5s;
$off-canvas-right-width: 320px;
$off-canvas-right-time: 0.5s;
$off-canvas-top-time: 0.5s;
$off-canvas-bottom-time: 0.5s;

.off-canvas {
  width: $off-canvas-left-width;
  transition: left right top bottom height 1s;
  transition-duration: width 0s;
  background: #fff;
}

.off-canvas-overlay {
  background: rgba(0, 0, 0, 0.6);
  transition: $off-canvas-overlay-time;
}

/*   	Left */
.off-canvas.off-canvas--left {
  left: -$off-canvas-left-width;
  transition: $off-canvas-left-time;
}

html.off-canvas-on.off-canvas-on--left .off-canvas.off-canvas--left {
  transition: left $off-canvas-left-time;
}

html.off-canvas-on.off-canvas-on--left .wrapper {
  transition: $off-canvas-left-time;
}

/*   	Push version */
html.off-canvas-on.off-canvas-on--push.off-canvas-on--left .wrapper {
  left: $off-canvas-left-width;
}

/*   	Right  */
.off-canvas.off-canvas--right {
  right: -100vw;
  transition: $off-canvas-right-time;
}

html.off-canvas-on.off-canvas-on--right .off-canvas.off-canvas--right {
  transition: right 1s;
}

html.off-canvas-on.off-canvas-on--right .wrapper {
  transition: $off-canvas-right-time;
}
/*   	Push version */
html.off-canvas-on.off-canvas-on--push.off-canvas-on--right .wrapper {
  left: -$off-canvas-left-width;
}

/*   	Top  */
.off-canvas.off-canvas--top {
  transition: $off-canvas-top-time;
}

html.off-canvas-on.off-canvas-on--top .off-canvas.off-canvas--top {
  opacity: 1;
}

html.off-canvas-on.off-canvas-on--top .wrapper {
  position: relative;
  top: 0;
}
/*   	Push version */
html.off-canvas-on.off-canvas-on--push.off-canvas-on--top .off-canvas--top {
}

/*   	Bottom  */
.off-canvas.off-canvas--bottom {
  bottom: -100vh;
  transition: $off-canvas-bottom-time;
}

html.off-canvas-on.off-canvas-on--bottom .off-canvas.off-canvas--bottom {
  transition: $off-canvas-bottom-time;
}

html.off-canvas-on.off-canvas-on--bottom .wrapper {
  transition: $off-canvas-bottom-time;
}
