@import "~basecore/src/components/_molecules/_accordion/_core_accordion.scss";
$accordion-border-color: var(--color-border-1);
$accordion-bg-color: white;
$accordion-bg-color-hover: var(--color-bg-secondary);
$accordion-color-hover: white;
$accordion-inner-border-color: var(--color-border-1);
$accordion-panel-bg-color: white;
$accordion-icon-color: var(--color-text-2);
$accordion-icon-size: 20px;
$accordion-icon-right: 20px;
$accordion-button-padding: 20px;
$accordion-button-padding-right: 40px; // Para el caret
$accordion-panel-padding: 30px;
$accordion-border-size: 1px;
$accordion-mb: $margin3;
$accordion-transition-in: max-height 500ms ease-in;
$accordion-transition-out: max-height 500ms ease-out;

.accordion {
  //exterior border
  border: $accordion-border-size solid $accordion-border-color;
  border-bottom: 0;
  margin-bottom: $accordion-mb;

  &__collapse {
    //Cierre

    transition: $accordion-transition-out;

    //Apertura
    &.is-visible {
      opacity: 1;
      transition: $accordion-transition-in;
    }
  }

  [data-toggle="collapse"] {
    padding: $accordion-button-padding;
    padding-right: $accordion-button-padding-right;
    background: $accordion-bg-color;
    text-align: left;
    //border interior
    border-bottom: $accordion-border-size solid $accordion-inner-border-color;

    &:hover,
    &:focus {
      background: $accordion-bg-color-hover;
      color: $accordion-color-hover;
      transition: 200ms;
      .icon {
        fill: $accordion-color-hover;
      }
    }
  }

  .icon {
    transition: 200ms;
    right: $accordion-icon-right;
    width: $accordion-icon-size;
    height: $accordion-icon-size;
    fill: $accordion-icon-color;
  }

  [aria-expanded="true"] {
    .icon {
      transition: 200ms;
    }
  }

  &__panel {
    padding: $accordion-panel-padding;
    background: $accordion-panel-bg-color;
    //border when open
    border-bottom: $accordion-border-size solid $accordion-inner-border-color;
  }
}
