@import "../../_utils-sass/_vars/_vars.scss";

.banner {
  position: relative;
  text-align: center;
  padding: 120px 0;
  margin-bottom: $margin-elements;
  &__img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__text {
    position: inherit;
    z-index: 2;
    --color-text-1: white;
  }

  .h2 {
    margin-bottom: 16px;
  }
}
