//
//
// Hi there! Remember you are not suposed to be here.
// All customization must be done in _custom_ files!!
//
//
//  --------------------------------------------------
//  Firefox buttons
//  --------------------------------------------------

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

//  --------------------------------------------------
//  Webkit Input Number Fix
//  --------------------------------------------------

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

//  --------------------------------------------------
//   Fix apariencia inputs en iOS
//  --------------------------------------------------
input,
textarea,
select {
  -webkit-appearance: none;
}

//  --------------------------------------------------
//   WinMobile Responsive Fix
//  --------------------------------------------------

@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

//  --------------------------------------------------
//   Outline Fix
//  --------------------------------------------------
a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0;
}

//  --------------------------------------------------
//  Fix color destacado al hacer "click" en iOS
//  --------------------------------------------------
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

//  --------------------------------------------------
//  Ocultar Spinner input number para Firefox
//  --------------------------------------------------

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

//  --------------------------------------------------
//  iPhone X Notch
//  --------------------------------------------------
@media only screen and (orientation: landscape) {
  .wrapper {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
