//
//
// Hi there! Remember you are not suposed to be here.
// All customization must be done in _custom_ files!!
//
//
.pagination {
  > ul {
    display: flex;
  }

  a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: inherit;

    &:hover {
    }
  }

  .is-active a {
  }
}
