@import "~basecore/src/components/_molecules/_breadcrumb/_core_breadcrumb.scss";
$breadcrumb-mb: $margin3;
$breadcrumb-a-padding: 10px;
$breadcrumb-a-bg-color: var(--color-bg-primary);
$breadcrumb-a-color: white;
$breadcrumb-a-bg-color-hover: var(--color-bg-secondary);
$breadcrumb-a-color-hover: white;
$breadcrumb-a-active-bg-color: var(--color-bg-secondary);
$breadcrumb-a-active-color: white;
$breadcrumb-caret-border-color: white;
$breadcrumb-caret-height: 36px;
$breadcrumb-caret-width: 12px;

.breadcrumb {
  margin-bottom: $breadcrumb-mb;
  display: inline-block;
  background: #bfbfbf;
  li {
    display: flex;
    position: relative;
  }

  a {
    text-decoration: none;
    padding: $breadcrumb-a-padding;
    background: $breadcrumb-a-bg-color;
    color: $breadcrumb-a-color;
    display: inline-block;
    padding-left: $breadcrumb-caret-height/2 !important;
    &:before {
      content: "";
      position: absolute;
      right: -$breadcrumb-caret-width;
      top: 0;
      width: 0;
      height: 0;
      z-index: 9;
      border-style: solid;
      border-width: $breadcrumb-caret-height/2 0 $breadcrumb-caret-height/2
        $breadcrumb-caret-width;
      border-color: transparent transparent transparent $breadcrumb-a-bg-color;
    }
    &:after {
      // borde
      content: "";
      position: absolute;
      right: -13px;
      top: 0;
      width: 0;
      height: 0;
      z-index: 8;
      border-style: solid;
      border-width: 18px 0 18px $breadcrumb-caret-width;
      border-color: transparent transparent transparent
        $breadcrumb-caret-border-color;
    }

    &:hover,
    &:focus {
      background: $breadcrumb-a-bg-color-hover;
      color: $breadcrumb-a-color-hover;
      &:before {
        border-style: solid;
        border-width: $breadcrumb-caret-height/2 0 $breadcrumb-caret-height/2
          $breadcrumb-caret-width;
        border-color: transparent transparent transparent
          $breadcrumb-a-bg-color-hover;
      }
    }
  }

  li:first-child a {
    padding-left: $breadcrumb-a-padding !important;
  }

  &__active {
    > a {
      background: $breadcrumb-a-active-bg-color;
      color: $breadcrumb-a-active-color;
      &:after {
        display: none;
      }
      &:before {
        border-color: transparent transparent transparent
          $breadcrumb-a-active-bg-color;
      }
    }
  }
}
