//
//
// Hi there! Remember you are not suposed to be here.
// All customization must be done in _custom_ files!!
//
//
.btn-switch {
  position: relative;
  user-select: none;
  display: block;
  &__checkbox {
    display: none;
  }
  &__label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    text-indent: -999em;
  }
  &__label:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0px;
  }
  &__checkbox:checked + &__label:before {
    right: 0px;
  }
}

.btn-switch {
  width: var(--btn-switch-width);
  label.btn-switch__label {
    height: var(--btn-switch-height);
    line-height: var(--btn-switch-height);
    border: var(--btn-switch-bg-inactive-border) !important;
    border-radius: var(--btn-switch-height);
    background-color: var(--btn-switch-bg-inactive);
    transition: var(--btn-switch-transition-in);
  }
  &__label:before {
    width: var(--btn-switch-knob-width);
    height: var(--btn-switch-knob-width);
    top: var(--btn-switch-knob-top);
    background: var(--btn-switch-knob-bg);
    right: calc(
      var(--btn-switch-width) - var(--btn-switch-height) +
        var(--btn-switch-knob-top)
    );
    border: var(--btn-switch-knob-border-active);
    border-radius: var(--btn-switch-height);
    transition: var(--btn-switch-transition-out);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1),
      0 3px 1px 0 rgba(0, 0, 0, 0.05);
  }
  &__checkbox:checked + &__label:before {
    right: var(--btn-switch-knob-top);
  }

  &__checkbox:checked + &__label {
    background-color: var(--btn-switch-bg-active);
  }
  &__checkbox:checked + &__label,
  &__checkbox:checked + &__label:before {
    border-color: var(--btn-switch-bg-active);
    border: var(--btn-switch-border !important);
  }
}

@import "/src/components/atoms/BtnSwitch/btn-switch.scss";
