@import "~getbasecore/src/components/_atoms/_animations/_core_animations.scss";
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes comein {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}

@keyframes comeout {
  0% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
