//
//
// Hi there! Remember you are not suposed to be here.
// All customization must be done in _custom_ files!!
//
//
.breadcrumb {
  ol {
    display: flex;
  }
  li {
    &:after {
    }

    a {
    }
  }
  &__active {
  }
}

.breadcrumb {
  margin-bottom: var(--breadcrumb-mb);
  display: inline-block;
  background: #bfbfbf;
  li {
    display: flex;
    position: relative;
  }

  a {
    text-decoration: none;
    padding: var(--breadcrumb-a-padding);
    background: var(--breadcrumb-a-bg-color);
    color: var(--breadcrumb-a-color);
    display: inline-block;
    padding-left: calc(var(--breadcrumb-caret-height) / 2) !important;
    &:before {
      content: "";
      position: absolute;
      right: -var(--breadcrumb-caret-width);
      top: 0;
      width: 0;
      height: 0;
      z-index: 9;
      border-style: solid;
      border-width: calc(var(--breadcrumb-caret-height) / 2) 0
        calc(var(--breadcrumb-caret-height) / 2) var(--breadcrumb-caret-width);
      border-color: transparent transparent transparent
        var(--breadcrumb-a-bg-color);
    }
    &:after {
      // borde
      content: "";
      position: absolute;
      right: -13px;
      top: 0;
      width: 0;
      height: 0;
      z-index: 8;
      border-style: solid;
      border-width: 18px 0 18px var(--breadcrumb-caret-width);
      border-color: transparent transparent transparent
        var(--breadcrumb-caret-border-color);
    }

    &:hover,
    &:focus {
      background: var(--breadcrumb-a-bg-color-hover);
      color: var(--breadcrumb-a-color-hover);
      &:before {
        border-style: solid;
        border-width: calc(var(--breadcrumb-caret-height) / 2) 0
          calc(var(--breadcrumb-caret-height) / 2) var(--breadcrumb-caret-width);
        border-color: transparent transparent transparent
          var(--breadcrumb-a-bg-color-hover);
      }
    }
  }

  li:first-child a {
    padding-left: var(--breadcrumb-a-padding) !important;
  }

  &__active {
    > a {
      background: var(--breadcrumb-a-active-bg-color);
      color: var(--breadcrumb-a-active-color);
      &:after {
        display: none;
      }
      &:before {
        border-color: transparent transparent transparent
          var(--breadcrumb-a-active-bg-color);
      }
    }
  }
}

@import "/src/components/molecules/Breadcrumb/breadcrumb.scss";
