//
//
// Hi there! Remember you are not suposed to be here.
// All customization must be done in _custom_ files!!
//
//
@mixin generate_titles(
  $title-name,
  $font-size,
  $line-height,
  $letter-spacing,
  $font-family,
  $font-weight,
  $color,
  $mb,
  $bg: none,
  $pb: 0,
  $border: 0
) {
  [class*="#{$title-name}"] {
    display: block;
    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-family;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    color: $color;
    margin-bottom: $mb;
    padding-bottom: $pb;
    border: $border;
    background: $bg;
  }
}

//  --------------------------------------------------
//  Tamaño de fuentes en REM
//  --------------------------------------------------

html {
  font-size: 62.5%; // 1.6rem = 16px, 20rem = 20px, etc...
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//Reset a los Hx para que no tengan valores, se les pasará mediante clases
//h1, h2, h3, h4, h5, h6 { font-size: inherit;  margin: 0; width: auto; color: $color-text }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  font-size: inherit;
  width: auto;
}
